{% include "jobs/header.html" %} {% load static %}

<!-- About Section -->
<section class="page-section text-white mb-0 py-5" id="about">
  <div class="container">
    <!-- About Section Heading -->
    <h1
      class="page-section-heading text-center text-uppercase text-white font-color mb-4"
    >
      About
    </h1>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <p class="lead">
          Racque Cordeta is a multi-talented creative professional with a
          passion for visual storytelling, digital innovation, and artistic
          expression. As a Graphic Artist, he brings ideas to life through
          captivating designs that leave a lasting impact. With expertise in Web
          Development, he builds functional and visually stunning websites that
          enhance user experiences.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4">
        <p class="lead">
          Beyond the digital realm, Racque is also a Musician, creating melodies
          that inspire and connect with audiences. As a Photographer, he
          captures moments with artistic precision, turning everyday scenes into
          timeless visuals. With a strong foundation in Journalism, he tells
          compelling stories that inform, engage, and inspire.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="lead">
          A true creative powerhouse, Racque Cordeta seamlessly blends artistry,
          technology, and storytelling to make a meaningful impact across
          multiple industries.
        </p>
        <br />

        <!-- href="{% static 'racquecordeta_resume.pdf' %}" -->
        <a
          class="btn btn-xl btn-outline-light"
          href="https://hubstoreonly18-my.sharepoint.com/:w:/g/personal/racquecordeta_hubstoreonly18_onmicrosoft_com/EekoRCAXvctEoCcjkRi3PcEB4M4YWQ-1Ua1b-c41P4jTyg?e=p8vfpZ"
          target="_blank"
        >
          <i class="fas fa-download me-2"></i>
          View Racque's Resume
        </a>
      </div>
    </div>
  </div>
</section>

{% include "jobs/footer.html" %}
